<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body id="portfolio" class="<%= classname %>">
    <main>
        <% include partials/nav.ejs %>
        <section>
            <h1><%= h1 %></h1>
            <article class="client-summary">
                <a href="http://www.paradata.io" title="Go to Paradata.io" class="client-brand">
                    <img src="/img/logos_clients/logo-paradata.png" alt="Paradata Inc.">
                </a>
                <div class="client-description">
                    <h2>Paradata Inc.</h2>
                    <a href="http://www.paradata.io" title="Go to Paradata.io" class="pull-right">paradata.io</a>
                    <p>Paradata is a supply chain software company that uses internal and external big data to help high tech OEM brand companies get increased transparency from their global supply chains. They identify cost, lead time, compliance and risk problems and offer verified insights to fix problems before they happen.</p>
                </div>
            </article>
            <article class="card-container">
                <a href="#/" class="card-item ixd" title="Interaction Design">
                    <span class="card-left">
                        <h6>Interaction Design</h6>
                    </span>
                    <span class="card-right">
                        <h4>User Experience Design</h4>
                        <p>Paradata is a SaaS delivering verified insights and executable actions to supply chain problems before they occur.</p>
                    </span>
                </a>
                <a href="#/" class="card-item alternate front-end" title="Front End Development">
                    <span class="card-left">
                        <h4>Front End Development</h4>
                        <p>Paradata is a SaaS delivering verified insights and executable actions to supply chain problems before they occur.</p>
                   
                    </span>
                    <span class="card-right">
                        <h6>Front End Engineering</h6>
                    </span>
                </a>
                <a href="#/" class="card-item visual-design" title="Visual Design">
                    <span class="card-left">
                        <h6>Visual Design</h6>
                    </span>
                    <span class="card-right">
                        <h4>Visual Design</h4>
                        <p>Paradata is a SaaS delivering verified insights and executable actions to supply chain problems before they occur.</p>
                    </span>
                </a>
            </article>
        </section> 

        <% include partials/footer.ejs %>
    </main> 
    <% include partials/javascripts.ejs %>
</body>
</html>